pip install selenium
pip install pystyle
pip install pytesseract
pip install numpy
pip install keyboard
pip install colorama
pip install pyperclip
must have tkinter (its in python installation setup)
